{
  "extends": "eslint-config-rackt",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "valid-jsdoc": 2,
    "curly": 2,
    "no-prototype-builtins": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-no-undef": 2,
  },
  "plugins": [
    "react"
  ]
}
